.glitch-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 0;
}

.glitch-wrapper:hover .glitch-text {
  animation: glitch 500ms infinite;
  opacity: 1;
}

.glitch-text {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glitch-text:nth-child(1) {
  color: #00fff9;
  z-index: -1;
}

.glitch-text:nth-child(2) {
  color: #ff00c1;
  z-index: -2;
}

.glitch-text:nth-child(3) {
  color: #ffffff;
  z-index: 1;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

.glitch-text:nth-child(1) {
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-2px);
  animation: glitch-anim-1 2s infinite linear alternate-reverse;
}

.glitch-text:nth-child(2) {
  clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
  transform: translate(2px);
  animation: glitch-anim-2 2s infinite linear alternate-reverse;
}

.glitch-text:nth-child(3) {
  clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);
  transform: translate(-2px);
  animation: glitch-anim-3 2s infinite linear alternate-reverse;
}

@keyframes glitch-anim-1 {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(2px, -2px);
  }
  50% {
    transform: translate(-2px, 2px);
  }
  75% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes glitch-anim-2 {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-2px, 0);
  }
  50% {
    transform: translate(2px, 2px);
  }
  75% {
    transform: translate(-2px, 2px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes glitch-anim-3 {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(2px, 2px);
  }
  50% {
    transform: translate(-2px, -2px);
  }
  75% {
    transform: translate(2px, 2px);
  }
  100% {
    transform: translate(0);
  }
}
